.headerContainer {
  width: 100%;
  div {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
}
.sideBarWrapper {
  width: 100vw;
  background-image: url('/images/drawerBanner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    span {
      width: 53px;
      height: 28px;
      background: #ff2d55;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
    }
  }
  .sidebarContent {
    color: #fff;
    margin: 6rem 0 0 2.3rem;
    h2 {
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0.44999998807907104px;
      text-align: left;
    }
    div {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      gap: 10px;
      p {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.11999999731779099px;
      }
    }
  }
}
