@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  font-family: Abhaya Libre;
}

.MuiChartsAxis-root {
  display: none;
}
